@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Outfit:wght@400;700&display=swap');

body{
    background: top / contain no-repeat url(img/pattern-background-desktop.svg);
background-color: #e0e8ff;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .music{
     display: block;
     background-color: #fff;
     width: 17%;
     height: 50%;
     border-radius: 5%;
 }
 
 .alinhamento{
     padding: 10px;
 
 }

 .code{
    width: 100%;
    border-radius: 5%;
}

