@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Outfit:wght@400;700&display=swap');

body{
    background: top / contain no-repeat url(img/pattern-background-desktop.svg);
background-color: #e0e8ff;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 img{
     /* border-radius:0 5% 0 0; */
     
     
 }
 
 .music{
     display: block;
     background-color: #fff;
     width: 22%;
     height: 60%;
     border-radius: 5%;
 }
 

 .code{
    width: 100%;
    border-radius: 5%;
}

h1{
    text-align: center;
    font-family:'Outfit', sans-serif;
    color: #1a2b47;
    padding: 5%;
    
}

p{
    color: #9f9eae;
    text-align: center;
    font-size: 21px;
    margin: 5%;
}

.box{
    background-color: #f8f9fe;

}


.botao{
    background-color: #382ae1;
    margin: 10%;
    text-align: center;
    padding: 5%;
    color: #fff;
    border-radius: 4%;
    
}

.cancel{
    color: #87889a;
    text-align: center;
}
